[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "topoDistance"]
	path = topoDistance
	url = https://github.com/ianjwang/topodistance
